(
    actions: {
        "jump": [ [Key(Space)] ],
    },
    axes: {
        "dude_horizontal": Emulated(pos: Key(E), neg: Key(A)),
        "dude_vertical": Emulated(pos: Key(H), neg: Key(T)),
    },
)